


            .navbar{
            list-style: none;
            background-color: white;
            overflow: hidden;
            padding: 0;
            text-size-adjust: 200%;
            }


            .navbar a, .dropdown div{
                text-decoration: none;
                color: black;
                font-size: 24px;
                padding: 16px;
                display: inline-block;

            }

            .navbar li{
                float: left;
            }

            .navbar li:hover{
                background-color: blanchedalmond;
            }

            .dropdown-content{
                list-style: none;
                padding: 0;
                display: none;
                position: absolute;
                z-index: 1;
                background-color: gray;

            }

            .dropdown-content li{
                float: none;
            }

            .dropdown:hover .dropdown-content{
                display: block;
            }

            .active{
                background-color: lightblue;
            }

            .fontnone{
                font-style: none;
            }

            .spacing{
                padding: 0px;
                overflow: hidden;
            }

            .background{
                background-color: gray;
            }

            .center{
                text-align: center;
            }



